.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding: 2rem 6rem;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: white;
}

.phoneContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: start;
  cursor: default;
}

.phoneIcon {
  width: 21px;
  height: 21px;
  object-fit: contain;
}

.phone {
  color: #555555;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
}

@media (max-width: 992px) {
  .header {
    padding: 2rem 2rem;
    position: absolute;
    background-color: transparent;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0 20px;
  }
}
