.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #141414;
    max-height: fit-content;
    position: relative;
}

@media (max-width: 1440px) {
    .list {
        gap: 1rem;
    }
}