.list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    color: #141414;
    max-height: fit-content;
    position: relative;
}

@media (max-width: 500px) {
    .list {
        gap: 17px;
    }
}