.section {
  background-color: #edf5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 6rem;
  cursor: default;
}

.title {
  font-size: 45px;
  letter-spacing: 0.45px;
  color: #141414;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  padding: 3rem 0;
}

.listItem {
  display: flex;
  flex-direction: column;
  max-width: 490px;
  -webkit-box-shadow: -5px 0px 15px -5px rgba(30, 44, 48, 0.6);
  -moz-box-shadow: -5px 0px 15px -5px rgba(30, 44, 48, 0.6);
  box-shadow: -5px 0px 15px -5px rgba(30, 44, 48, 0.6);
}

.textContainer {
  background-color: white;
  padding: 44px;
}

.authorContainer {
  max-height: 125px;
  background-color: #1e2c30;
  color: white;
  padding: 25px 50px;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 74px;
  height: 74px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: #5c8692;
}

.text {
  color: #1e2c30;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -0.04px;
}

.rating {
  display: flex;
}

.name {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

.city {
  font-size: 14px;
  font-weight: normal;
  line-height: 160%;
}

@media (max-width: 1440px) {
  .text {
    font-size: 18px;
    line-height: 120%;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 2rem 2rem;
  }
  .list {
    padding: 2rem 0;
  }
  .authorContainer {
    padding: 15px 15px;
  }
  .textContainer {
    padding: 33px;
  }
}

@media (max-width: 500px) {
  .section {
    padding: 2rem 1rem;
  }
  .text {
    font-size: 16px;
    line-height: 110%;
  }
  .name {
    font-size: 14px;
  }
  .textContainer {
    padding: 25px;
  }
}

@media (max-width: 340px) {
  .authorContainer {
    display: none;
  }
}
