.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 2rem 6rem;
  /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4); */
}

.phoneContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: start;
  cursor: default;
}

.phoneIcon {
  width: 21px;
  height: 21px;
  object-fit: contain;
}

.phone {
  color: #555555;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
}

@media screen and (max-width: 992px) {
  .header {
    padding: 2rem 2rem;
    height: 100px;
  }
}

/* @media (max-width: 992px) { 
  .phoneContainer {
    display: none;
  }
} */
