.section {
    background-color: #EDF5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 20px;
    cursor: default;
}

.title {
    font-size: 45px;
    letter-spacing: 0.45px;
    color: #141414;  
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.listItem {
    display: flex;
    flex-direction: column;
    max-width: 490px;
    -webkit-box-shadow: -5px 0px 15px -5px rgba(30, 44, 48, 0.6);
    -moz-box-shadow: -5px 0px 15px -5px rgba(30, 44, 48, 0.6);
    box-shadow: -5px 0px 15px -5px rgba(30, 44, 48, 0.6);
}

.textContainer {
    background-color: white;
    padding: 44px;
}

.authorContainer {
    max-height: 125px;
    background-color: #1E2C30;
    color: white;
    padding: 25px 50px;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 74px;
    height: 74px;
    border: 2px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: #5C8692;
}

.text {
    color: #141414;
    font-size: 20px;
    font-weight: normal;
    line-height: 180%;
}

.rating {
    display: flex;
}

.name {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
}

.city {
   font-size: 14px;
   font-weight: normal;
   line-height: 160%;

}

@media (max-width: 992px) {

    .section {
        padding: 70px 20px;
    }
    .authorContainer {
        padding: 15px 15px;
    }
}

@media (max-width: 500px) {
    .section {
        padding: 50px 20px;
    }
    .text {
        font-size: 18px;
    }
    .name {
        font-size: 14px;
    }
}
