.listItem {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 15px;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.textContainer {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.text {
  color: rgba(85, 85, 85, 1);
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.04px;
}

.span {
  color: #5c8692;
  font-weight: 500;
}

.year {
  color: white;
  background-color: #5c8692;
  padding: 8px 16px;
  border-radius: 8px;
}

@media (max-width: 1440px) {
  .text {
    font-size: 18px;
    line-height: 110%;
  }
}

@media (max-width: 768px) {
  .textContainer {
    align-items: flex-start;
  }

  .text {
    font-size: 16px;
    line-height: 110%;
  }
  .year {
    font-size: 16px;
  }
}
